.navbar-container{
    display: flex;
    justify-content: space-around;
    background: rgb(73, 255, 118);
    padding: 8px;
}

.buttons{
    background: rgb(7, 128, 3);
    border: solid;
    color: white;
}