.greeting{
    margin-top: 50px;
    margin-bottom: 50px;
}
.greeting h1{
    font-size: 25px;
}
.greeting img{
    margin-top: 20px;
    border-radius: 10px;
}

.imgWelcome{
    background-image: url(https://www.sweetwater.com/insync/media/2019/04/Stack_O_Amps_001-1050x550.jpg);
    background-size: cover;
    background-position: center;
    width: 83%;
    min-height: 400px;
    margin-top: 50px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}